<div class="row">

  <div class="large-12 columns">
    <h3 class="bold">Events</h3>
    <p>
      MC members can update events.
    </p>
  </div>

  <hr>

  <div class="columns small-12 medium-9">
    <h3 class="bold">Featured Events</h3>
    <div class="panel">
      <% @featured_events.each do |event| %>
        <% @event = event %>
        <%= render 'event' %>
      <% end %>
    </div>
  </div>

  <div class="columns small-12 medium-3">
    <%= link_to new_mc_event_path, class: 'radius button success' do %>
      <%= fa_icon 'plus', text: 'New Event', right: true %>
    <% end %>
    <hr>
    <h5>All Events:</h5>
    <ul>
      <% @events.each do |event| %>
        <li><%= link_to event.name, mc_event_path(event) %></li>
      <% end %>
    </ul>
  </div>

</div>

