<h3>Balloting Schedule</h3>
<p>For the <strong>Academic Year 2015/2016</strong>, the system will be open for balloting during these rounds.</p>
<ul>
	<li>Round 1: 17th August - 19th August 2015</li>
	<li>Round 2: 20th August - 22nd August 2015</li>
</ul>
<br>
<!-- <div class="text-center"><%= image_tag "locker/takenote.jpg", class: "th radius" %></div> -->
