<h3>Contact Us</h3>
<p>
	Please refer to the <strong>FAQs Section</strong> before contacting us.
</p>
<p>
	For any enquiries, please contact the Welfare Committee at <%= mail_to "welfare@nuscomputing.com" %> 
	and we will be glad to assist you.
</p>
