<h3>Frequently Asked Questions</h3>
<div>
	<p>
		If your questions are not found below, please click on the <strong>Contact Us</strong> to ask.
	</p>
	<ol>
		<li><strong>What is the balloting algorithm like?</strong></li>
		<p>
			First we write each application on a slip of paper. Then we throw the slips of paper all in a large fish bowl and mix 
			it good. Next we just pick a slip at random and assign the applicant a locker based on the his/her list of preferences. 
			We then discard the slip and repeat the previous step until there are no more slips in the fish bowl.
			<br />
			Well of course this is not exactly how we do it but the idea is the same. :)
		</p>
		<li><strong>Why Location H is missing from the list?</strong></li>
		<p>
			Location H is reserved for the Computing Club committee members and is not opened for balloting.
		</p>
	</ol>
</div>
