<h3>Balloting Schedule</h3>
<p>For the <strong>Academic Year 2015/2016</strong>, the system will be open for balloting during these rounds.</p>
<ul>
	<li>Round 1: 17th August - 19th August 2015</li>
	<li>Round 2: 20th August - 22nd August 2015</li>
</ul>
<hr>
<h3>Welcome</h3>
<p>
	At the start of the academic year, the NUS Students' Computing Club offers locker service to all undergraduates. 
	The students have to ballot for their locker by using the Locker Balloting System. The lockers are released in phases 
	and no <strong>registration fee</strong> will be charged for each allocated locker.
</p>
<p>
	There are two phases to the locker balloting process. During each round, the system will be opened and undergraduates 
	will be able to logging into the Locker Balloting System to make their choices. Those who <strong>failed</strong> to secure a locker in 
	round 1 can still ballot for the lockers in Phase 2.
</p>
<p>
	To start balloting, please sign in with your IVLE Account ID and password and submit your preferred locations for your locker. 
	However, only students from School of Computing will be eligible for balloting.
</p>
<p>
	Please take note that you can change your preference while the application round is still open. The <strong>results</strong> 
	will be release within 3 days after the round has been closed. You will receive an email indicating whether you are allocated
	a locker.
</p>
<div class="text-center"><%= image_tag "locker/benefit.jpg", class: "th radius" %></div>
<br>
<!-- <div class="text-center"><%= image_tag "locker/takenote.jpg", class: "th radius" %></div> -->
