<h3>Location of Lockers</h3>
<ul>
	<li>
		<h4>Basement</h4>
		<div class="text-center"><%= image_tag "locker/lockers-b.png", class: "th radius" %></div>
	</li>
	<hr/>
	<li>
		<h4>Level 1</h4>
		<div class="text-center"><%= image_tag "locker/lockers-1.png", class: "th radius" %></div>
	</li>
	<hr/>
	<li>
		<h4>Level 2</h4>
		<div class="text-center"><%= image_tag "locker/lockers-2.jpg", class: "th radius" %></div>
	</li>
</ul>
