<% if user_signed_in? %>
	<h1 class="text-center">Profile</h1>
	<ul class="tabs" data-tab>
		<li class="tab-title active"><a href="#locker-allocations">Locker Allocations</a></li>
		<li class="tab-title"><a href="#item-requests">Requests</a></li>
		<li class="tab-title"><a href="#item-transactions">Transactions</a></li>
	</ul>
	<div class="tabs-content">
		<div id="locker-allocations" class="content active">
			<%= render partial: 'locker_allocations', locals: { locker_allocations: current_user.locker_allocations } %>
		</div>

		<div id="item-requests" class="content">
			<%= render partial: 'item_requests', locals: { item_requests: current_user.requests } %>
		</div>

		<div id="item-transactions" class="content">
			<%= render partial: 'item_transactions', locals: { item_transactions: current_user.item_transactions } %>
		</div>
	</div>
<% else %>
	<h1>You will have to <%= link_to "sign in with IVLE", '/auth/ivle' %> to see your profile</h1>
<% end %>
