<footer>
	<div class="color-strip"></div>
	<div class="container">
		<div class="row collapse">
			<div class="small-3 columns text-left">
				<h5 class="subheader">AFFILIATED LINKS</h5>
				<ul class="no-bullet">
					<li><a href="http://www.nus.edu.sg/">NUS Website</a></li>
					<li><a href="http://www.comp.nus.edu.sg/">NUS School of Computing</a></li>
					<li><a href="http://www.nussu.org.sg/">NUS Students' Union</a></li>
					<li><a href="http://mysoc.nus.edu.sg/">MySoC Website</a></li>
					<li><a href="http://exchange.nus.edu.sg/">MyEmail Exchange</a></li>
					<li><a href="https://myisis.nus.edu.sg/">MyISIS Website</a></li>
					<li><a href="http://ivle.nus.edu.sg/">MyIVLE Website</a></li>
				</ul>
			</div>
			<div class="small-6 columns text-center"><%= image_tag "footer.png" %></div>
			<div class="small-3 columns text-right"> 
				<h5 class="subheader">SITE MAP</h5>
			</div>
		</div>
	</div>
	<div class="copyright text-center">
		<p>Computing 1, 13 Computing Drive, Singapore 117417 • +65 6516 6759 • connect@nuscomputing.com</p>
		<br>
		<p>© 2013-2014 NUS Students' Computing Club. All Rights Reserved.</p>
		<p>Disclaimer: All views represented on this website are views of the respective authors and do not represent the views of NUS, NUSSU or the NUS Students' Computing Club.</p>			</div>
	<br>
</div>
		</footer>

